<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="email-form.component.css">
  <title>Email Form</title>
</head>

<body>
  <div class="container">
    <h2>Email To:</h2>
    <input type="email" placeholder="Enter recipient's email address" id="emailTo">

    <h2>Email From:</h2>
    <input type="email" placeholder="Enter your email address here" id="emailFrom">

    <h2>Subject:</h2>
    <input type="text" placeholder="Enter your subject here" id="subject">

    <h2>Message:</h2>
    <textarea placeholder="Please explain your message here in detail" id="message"></textarea>

    <button type="submit" id="submitBtn">Submit</button>
  </div>
</body>

</html>
