<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your App Title</title>
  <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue:400,700&display=swap" rel="stylesheet">
  <!-- ... other meta tags and links ... -->
</head>
<body>
  <router-outlet></router-outlet>
  <div *ngIf="isLoading" class="loading-spinner">
    <img src="assets/loading.gif" alt="Loading...">
  </div>

  <div *ngIf="!isLoading" class="container">
    <input type="text" placeholder="Search by symbol or name" #filter (input)="filterResults(filter.value)" (keyup)="handleSearchInputChange(filter.value)" class="search-bar">

    <table class="symbol-table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Symbol</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let symbol of filteredSymbols">
          <td><input type="checkbox" [(ngModel)]="symbol.selected" /></td>
          <td><a [routerLink]="['/summary', symbol.symbol]">{{ symbol.symbol }}</a></td>
          <td><a [routerLink]="['/summary', symbol.symbol]">{{ symbol.name }}</a></td>
        </tr>
      </tbody>
    </table>

    <button *ngIf="displayedItems < symbols.length" (click)="loadMore()" class="load-more-button">Load More</button>
    <!-- Add to Portfolio button -->
<button (click)="addToPortfolio()" class="add-to-portfolio-button">Add to Portfolio</button>
  </div>
</body>
</html>
