<table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portfolio of portfolios">
        <td><a [routerLink]="['/stocklist', portfolio.portfolioId]">{{ portfolio.portfolioId }}</a></td>
        <td><a [routerLink]="['/stocklist', portfolio.portfolioName]">{{ portfolio.portfolioName }}</a></td>
       
      </tr>
    </tbody>
  </table>

  <button (click)="createPortfolio()">Create New Portfolio</button>
  

<app-portfolio-stocks></app-portfolio-stocks>