<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="assets/profilePicture.png">
      <!-- alt="Avatar" class="avatar" -->
    </div>
  
    <div class="container">
        <label for="email"><b>Email Address</b></label>
      <input type="text" placeholder="Enter email address" name="email" required [(ngModel)]="newEmail">


      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="username">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">

      <label for="repeatpsw"><b>Re-Enter Password</b></label>
      <input type="password" placeholder="Re-Enter Password" name="repeatpsw" required [(ngModel)]="repeatPass">
      <div *ngIf="password != repeatPass">This password do not match.</div>
  
      
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
      <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <!-- <button type="button" class="cancelbtn">Cancel</button> -->
      <button type="button" (click)="onsubmit()">Sign up</button>
      <button type="submit" routerLink="/login">Already a member? Login! </button>
    </div>

    

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" (click)="navigate()">Cancel</button>
    </div>
  </form>

  <tr *ngFor="let portfolio of users">
    <td><a>{{ portfolio.id }}</a></td>
    <td><a>{{ portfolio.name }}</a></td>
   
  </tr>
