ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .menu li {
    float: left;
    padding: 20px;
  }
  .logo{
    max-width: 220px;
    padding: 0;
    margin:0;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu li a:hover {
    background-color: #111;
  }
  .active {

  }
  .menu li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }