<!-- Display loading spinner if isLoading is true -->
<div *ngIf="isLoading" class="loading-spinner">
  <img src="assets/loading.gif" alt="Loading...">
</div>

<div *ngIf="!isLoading && newsData && newsData.length > 0" class="news-section">
  <h3>Recent News:</h3>
  <ul class="news-list">
      <li *ngFor="let article of newsData" class="news-item">
          <!-- Optionally display article image if available -->
          <img *ngIf="article.image" [src]="article.image" alt="Article Image" class="news-image"/>
          <div class="news-content">
              <a [href]="article.url" target="_blank" class="news-title">{{ article.headline }}</a>
              <p class="news-summary">{{ article.summary }}</p>
              <div class="news-time">{{ article.datetime | date: 'short' }}</div>
          </div>   
      </li>
  </ul>
</div>