.summary-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem; /* Spacing between summary and chart. Adjust as required. */
    width: 100%;
    max-width: 1200px;  /* Adjust for your needs, but this will prevent it from stretching too wide on large screens */
    margin: 0 auto;     /* Centers the container on the page */
    padding: 1rem; 
 }
 
 .summary-content {
    flex: 1;   /* Allocates twice the space to summary as compared to chart */
    padding: 1rem;  /* Space within the summary content. Adjust as required. */
 }
 
 app-chart {
    flex: 2;   /* Takes up the space not occupied by summary-content */
    width: 100%;   /* Makes sure the chart takes up the whole allocated space */
    padding: 1rem;  /* Space within the chart. Adjust as required. */
 }

 .price-data {
   padding: 20px;
   background-color: #f4f4f4;
   border-radius: 5px;
   margin-bottom: 20px;
}

.news-section {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.news-item {
   border-bottom: 1px solid #e1e1e1;
   padding: 15px 0;
}

.news-title {
   font-weight: 600;
   font-size: 1.1em;
   color: #000;
   text-decoration: none;
}

.news-title:hover {
   text-decoration: underline;
}

.news-summary {
   margin: 10px 0;
   color: #666;
}

.news-list {
   list-style: none;
   padding: 0;
}

.news-item {
   display: flex;
   justify-content: space-between;
   align-items: flex-start; /* Adjusts alignment so content and image are top-aligned */
   border-bottom: 1px solid #e1e1e1;
   padding: 15px 0;
}

.news-content {
   flex: 1; /* Ensures the content takes the available space */
   margin-left: 20px; /* Spacing between content and image */
}

.news-image {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 5px;
}