<div class="pl-lg-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-username">Username</label>
        <div class="input-group">
          <input *ngIf="!editUsername" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" [value]="users[0]?.username" disabled>
          <input *ngIf="editUsername" type="text" id="input-username" class="form-control form-control-alternative" [(ngModel)]="editedUsername">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="toggleEdit('username')">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="input-email">Email address</label>
        <div class="input-group">
          <input *ngIf="!editEmail" type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" [value]="users[0]?.email" disabled>
          <input *ngIf="editEmail" type="email" id="input-email" class="form-control form-control-alternative" [(ngModel)]="editedEmail">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="toggleEdit('email')">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button *ngIf="editUsername || editEmail" class="btn btn-success" (click)="saveChanges()">Submit</button>
</div>
