<table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of portfolioStocks">
        <td><a [routerLink]="['/summary', stock.symbol]">{{ stock.symbol }}</a></td>
        <td><a [routerLink]="['/summary', stock.symbol]">{{ stock.name }}</a></td>
       
      </tr>
    </tbody>
</table>

  <!-- Display "Your portfolio is empty" if there are no stocks -->
<div *ngIf="portfolioStocks.length === 0">
    Your portfolio is empty.
  </div>